<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="/view/css/PaginaInicial.css">
    <link rel="website icon" type="png" href="/view/img/SolIcone.png">
</head>
<body>
    <header>
        <div class="logo">
          <img src="/view/img/sol.png" alt="Logo do site">
        </div>
        <nav>
          <a href="PaginaInicial.html">Página Inicial</a>
          <a href="">Estatísticas</a>
          <a href="DiarioDigital.html">Diário</a>
          <a href="TelaUsuario.html">Usuário</a>
        </nav>
      </header>
<main>
<center>  
<img src="/view/img/FundoPaginaInicial.png" width="500">
</center>  
</main>
    <footer>
        <p>&copy; Copyright 2025 Black Sheep</p>  
    </footer>     
</body>
</html>