* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
    background-color: rgba(255, 255, 255, 0.723);
    color: #2f5f98;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #91def2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 2px solid #3179c61f;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 80px;
    margin-right: 10px;
}

nav {
    display: flex;
    gap: 2rem;
}

nav a {
    text-decoration: none;
    color: #2f5f98;
    font-weight: bold;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

nav a:hover {
    padding: 0.3rem 0.8rem;
    border-radius: 30px;
    box-shadow: 0 0 10px white;
}

main.container {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 3rem;
    justify-content: center;
}

aside {
    flex: 1;
    background-color: #ffeefe;
    padding: 2rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.perfil-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #86b4ff;
    object-fit: cover;
    margin-bottom: 1rem;
}

.conteudo {
    flex: 2;
    background-color: #ffeefe;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #0b0e13;
}

form {
    display: flex;
    flex-direction: column;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    color: #2f5f98;
}

input, select, textarea {
    margin-top: 0.4rem;
    padding: 0.7rem;
    background-color: #ffeefe;
    border: none;
    border-radius: 12px;
    color: #2f5f98;
    font-size: 1rem;
}

input:disabled, select:disabled, textarea:disabled {
    background-color: #f0d9f3;
    color: #aaa;
    cursor: not-allowed;
}

.btn-editar {
    background-color: transparent;
    color: #2f5f98;
    border: 2px solid #2f5f98;
    border-radius: 25px;
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    cursor: pointer;
    margin-bottom: 1.5rem;
    transition: all 0.3s ease;
    align-self: center;
}

.btn-editar:hover {
    background-color: #2f5f98;
    color: #fff;
}

button[type="submit"] {
    margin-top: 2rem;
    align-self: center;
    background-color: #0099dd;
    color: #ffdd78;
    border: none;
    padding: 0.8rem 2rem;
    border-radius: 25px;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    transition: background 0.3s;
}

button[type="submit"]:hover {
    background-color: #0077aa;
}

footer {
    background-color: #2f5f98;
    color: #bccee2;
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}

@media (max-width: 768px) {
    main.container {
    flex-direction: column;
    padding: 1rem;
}

header {
    flex-direction: column;
    align-items: flex-start;
}

nav {
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 1rem;
}